<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button (click)="googPay()">Paga con Google Pay esteso</ion-button>
  <ion-button (click)="goog2()">Paga con Google Pay corto</ion-button>
  <ion-button (click)="apple()">Paga con Apple</ion-button>
  <ion-button (click)="april()">Paga con GG</ion-button>
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
